# macOS
.DS_Store

# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# Vite cache
.vite/
**/.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
